@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-p1: #8f6be3;
  --color-p2: #7a5bc2;
  --color-gray-aaa: #aaaaaa;
  --color-gray-ddd: #dddddd;
  --color-gray-666: #666666;
  --color-gray-999: #999999;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
